.blog {
    padding-top: 140px;
    padding-bottom: 140px;

    color: #000000;
}
.blog__row {
    display: flex;
}
.big-card {
    margin-right: 32px;
}
.big-card__img {
    margin-bottom: 35px;
}
.big-card__title {
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;

    margin-bottom: 10px;
}
.big-card__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.6;

    max-width: 470px;

    margin-bottom: 10px;
}
.big-card__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
.small-card__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.small-card__wrapper-img{
    margin-right: 27px;
}
.small-card__title {
    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;

    margin-bottom: 10px;
}
.small-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.6;

    max-width: 250px;
    margin-bottom: 5px;
}
.small-card__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.8;
}