.logo {
    font-family: 'Ribeye', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer__logo {
    font-family: 'Ribeye', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: #000;

    margin-bottom: 40px;
}